In [3]:
print('hello python')

hello python

In [4]:
# !pip install PyMySql
import pymysql

In [5]:
mydb = pymysql.connect(
    host='172.17.0.1', 
    port=3306, 
    user='root', 
    passwd='qwer', 
    db='nation', 
    charset='utf8'
)

In [6]:
mydb

In [7]:
cursor=mydb.cursor()

In [8]:
cursor

In [9]:
cursor.execute("SHOW DATABASES")

5

In [10]:
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('nation',)
('performance_schema',)
('sys',)

In [11]:
# 이터레이트 되고 난 후에는 데이터가 없음
for x in cursor:
    print(x)

In [12]:
sql = """
    SHOW TABLES;
    """

cursor.execute(sql)

5

In [13]:
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('nation',)
('performance_schema',)
('sys',)

In [14]:
cursor.fetchall()

()