In [11]:
import pymysql

In [12]:
mydb = pymysql.connect(
    host='172.17.0.1', 
    port=3306, 
    user='root', 
    passwd='qwer', 
    db='nation', 
    charset='utf8'
)

cursor=mydb.cursor()

sql = "SELECT * FROM countries" # 테이블 전체를 불러옴
cursor.execute(sql)
rows = cursor.fetchall()
cursor.close()
mydb.close() # DB 연결 종료

In [13]:
print(rows[0:2])

((1, 'Aruba', Decimal('193.00'), None, 'AW', 'ABW', 1), (2, 'Afghanistan', Decimal('652090.00'), datetime.date(1919, 8, 19), 'AF', 'AFG', 2))

In [14]:
for country in rows[0:5]:
    print(country)

(1, 'Aruba', Decimal('193.00'), None, 'AW', 'ABW', 1)
(2, 'Afghanistan', Decimal('652090.00'), datetime.date(1919, 8, 19), 'AF', 'AFG', 2)
(3, 'Angola', Decimal('1246700.00'), datetime.date(1975, 11, 11), 'AO', 'AGO', 3)
(4, 'Anguilla', Decimal('96.00'), datetime.date(1967, 5, 30), 'AI', 'AIA', 1)
(5, 'Albania', Decimal('28748.00'), datetime.date(1912, 11, 28), 'AL', 'ALB', 4)

In [15]:
# with 문 사용
sql = "SELECT * FROM countries" # 테이블 전체를 불러옴

with pymysql.connect(
    host='172.17.0.1', 
    port=3306, 
    user='root', 
    passwd='qwer', 
    db='nation', 
    charset='utf8'
) as db:
    cursor = db.cursor()
    cursor.execute(sql)
    rows_1 = cursor.fetchall()

# print("program works!!!")

program works!!!

In [16]:
for country in rows_1[0:5]:
    print(country)

(1, 'Aruba', Decimal('193.00'), None, 'AW', 'ABW', 1)
(2, 'Afghanistan', Decimal('652090.00'), datetime.date(1919, 8, 19), 'AF', 'AFG', 2)
(3, 'Angola', Decimal('1246700.00'), datetime.date(1975, 11, 11), 'AO', 'AGO', 3)
(4, 'Anguilla', Decimal('96.00'), datetime.date(1967, 5, 30), 'AI', 'AIA', 1)
(5, 'Albania', Decimal('28748.00'), datetime.date(1912, 11, 28), 'AL', 'ALB', 4)

In [17]:
# try, except로 예외 처리
sql = "SELECT * FROM countries" # 테이블 전체를 불러옴

try:
    with pymysql.connect(
        host='172.17.0.1', 
        port=3306, 
        user='root', 
        passwd='qwer', 
        db='nation', 
        charset='utf8'
    ) as db:
        cursor = db.cursor()
        cursor.execute(sql)
        rows_2 = cursor.fetchall()
except pymysql.err.OperationalError as e:
    print(e)

# print("program works!!!")

In [18]:
for country in rows_2[0:5]:
    print(country)

(1, 'Aruba', Decimal('193.00'), None, 'AW', 'ABW', 1)
(2, 'Afghanistan', Decimal('652090.00'), datetime.date(1919, 8, 19), 'AF', 'AFG', 2)
(3, 'Angola', Decimal('1246700.00'), datetime.date(1975, 11, 11), 'AO', 'AGO', 3)
(4, 'Anguilla', Decimal('96.00'), datetime.date(1967, 5, 30), 'AI', 'AIA', 1)
(5, 'Albania', Decimal('28748.00'), datetime.date(1912, 11, 28), 'AL', 'ALB', 4)

In [19]:
# 예외 발생 : password -> root
sql = "SELECT * FROM countries" # 테이블 전체를 불러옴

with pymysql.connect(
    host='172.17.0.1', 
    port=3306, 
    user='root', 
    passwd='qwer', 
    db='nation', 
    charset='utf8'
) as db:
    cursor = db.cursor()
    cursor.execute(sql)
    rows_1 = cursor.fetchall()

print("program works!!!")

program works!!!

In [26]:
# try, except로 예외 처리
# 예외 발생 : password -> root
sql = "SELECT * FROM countries" # 테이블 전체를 불러옴

try:
    with pymysql.connect(
        host='172.17.0.1', 
        port=3306, 
        user='root', 
        passwd='root', 
        db='nation', 
        charset='utf8'
    ) as db:
        cursor = db.cursor()
        cursor.execute(sql)
        rows_2 = cursor.fetchall()
except pymysql.err.OperationalError as e:
    print(e)

print("---------------------------------\n program works!!!")

(1045, "Access denied for user 'root'@'172.17.0.3' (using password: YES)")
---------------------------------
 program works!!!