In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host='172.17.0.1', 
    port=3306, 
    user='root', 
    passwd='qwer', 
    db='nation', 
    charset='utf8'
)

In [3]:
cursor=mydb.cursor()

In [4]:
sql = """
    SHOW TABLES;
    """

cursor.execute(sql)

9

In [5]:
cursor.fetchone() # 맨 첫번째 row를 반환

('continents',)

In [6]:
cursor.fetchmany(2) #fetchmany(n) n 개의 rows를 반환

(('countries',), ('country_languages',))

In [7]:
cursor.fetchall()

(('country_stats',),
 ('guests',),
 ('languages',),
 ('region_areas',),
 ('regions',),
 ('vips',))

In [8]:
sql = """
    SHOW TABLES;
    """

cursor.execute(sql)
rows = cursor.fetchall()
rows

()

In [9]:
for table in rows:
    print(table)

NameError: name 'rows' is not defined

In [ ]:
cursor.close()

In [ ]:
mydb.close()